body {
  background-color: #2f292b;
  font-family:'Varela Round', sans-serif;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px 16px;
  font-family: Lato, sans-serif;
  font-size: 68px;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: rgba(0, 0, 0, 0.72) 0px 1px 0px, rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-shadow: none;
}
h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0px;
  text-shadow: none;
}

table{
     margin-top: 10px;
	  margin-left: auto;
    margin-right: auto;
    width: 90%;
      font-size: 16px; padding: 10px;
    border-collapse: collapse;
	text-decoration:none;
}

table, th, td {
    /* border: 1px solid #2F292B; */
      font-size: 16px; padding: 10px;
} 
th {
    background-color: #c96c47;
    color: white;
}
/* tr{
		background: #b8d1f3;
	}
	 Define the background color for all the ODD background rows  */
	/*tr:nth-child(odd){ 
		background: #b8d1f3;
	}
	/*  Define the background color for all the EVEN background rows  */
/*	tr:nth-child(even){
		background: #dae5f4;
	}*/
.button {
  display: block;
  width: 32%;
  height: 54px;
  margin-left: 200px;
  padding: 4px 29px;
  float: left;
  border-radius: 4px;
  border: 0px;
  background-color: #c96c47;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 1px 4px 0px, rgba(0, 0, 0, 0.10) 0px 0px 0px 1px, rgba(255, 255, 255, 0.07) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.15) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.09) 0px -44px 38px -25px inset;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.18) 0px 1px 0px;
}
.button:hover {
  background-color: #e66f40;
}
.button:active {
  background-color: rgba(230, 111, 64, 0.63);
  box-shadow: rgba(255, 255, 255, 0.20) 0px 1px 0px 0px, rgba(0, 0, 0, 0.10) 0px 0px 0px 1px, rgba(0, 0, 0, 0.09) 0px 2px 6px 1px inset, rgba(0, 0, 0, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.09) 0px 44px 38px -25px inset;
}
.button.buttonround {
  width: 20%;
  height: 100px;
  margin-left: 20px;
  border-radius: 50px;
  background-color: #00796b;
  background-image: url('../images/ic_stethoscope10.png');
  background-position: 50% 50%;
  background-size: 80px;
  background-repeat: no-repeat;
}
.button.buttonround.redbutton {
  display: block;
  width: 18px;
  height:64px;
  border-radius: 150px;
  background-color: #c96c47;
  background-image: url('../images/ic_hospital17.png');
  background-size: 50px;
  line-height: 11px;
}
.button.buttonround.logoutbutton {
  display: block;
  width: 4px;
  height:30px;
  border-radius: 50px;
  background-color: #c96c47;
  background-image: url('../images/ic_sign4.png');
  background-size: 30px;
  line-height: 11px;
	margin-top:15px;
}
.button.buttonround.addbutton {
  display: block;
  width: 4px;
  height:10px;
  
  border-radius: 50px;
  background-color: #c96c47;
  background-image: url('../images/ic_plus24.png');
  background-size: 10px;
  line-height: 11px;
  float:right;
}
.button.buttonround.returnbutton {
  display: block;
  width: 4px;
  height:10px;
  
  border-radius: 50px;
  background-color: #c96c47;
  background-image: url('../images/ic_back1.png');
  background-size: 20px;
  float:left;
}
.button.buttonround.editbutton {
  display: block;
  width: 1px;
  height:30px;
  background-size: 30px;
  border-radius: 100px;
  background-color: #c96c47;
  background-image: url('../images/ic_edit45.png');
  background-size: 20px;
  float:left;
}

.button.buttonround.deletebutton {
  display: block;
  width: 1px;
  height:30px;
  background-size: 30px;
  border-radius: 100px;
  margin-left:10px;
  background-color: #c96c47;
  background-image: url('../images/ic_delete48.png');
  background-size: 20px;
  float:left;
}
.button.buttonround.tealbutton {
display: block;
 width: 18px;
  height:64px;
  border-radius: 150px;
  background-size: 50px;
  background-image: url('../images/ic_stethoscope10.png');
}
.button.buttonround.bluebutton {
  display: block;
 width: 18px;
  height:64px;
  border-radius: 100px;
  background-color: #0277bd;
  background-image: url('../images/ic_ambulance9.png');
  background-size: 60px;
}

.button.buttonround.violetbutton {
  display: block;
 width: 18px;
  height:64px;
  border-radius: 100px;
  background-color: #7f4f98;
  background-image: url('../images/ic_nurse7.png');
  background-size: 60px;
}
.button.buttonround.pureredbutton {
  display: block;
 width: 18px;
  height:64px;
  border-radius: 100px;
  background-color: #c43e37;
  background-image: url('../images/ic_water12.png');
  background-size: 50px;
}
.subtitle {
  font-size: 25px;
  line-height: 34px;
  text-shadow: rgba(0, 0, 0, 0.23) 1px 1px 2px, rgba(0, 0, 0, 0.24) 0px 1px 0px;
}
.field {
  width: 70%;
  margin-left:auto;
  margin-right:auto;
  height: 54px;
  border: 0px solid black;
  padding-left: 10px;
  border-radius: 4px;
  background-color: rgba(47, 41, 43, 0.65);
  box-shadow: rgba(0, 0, 0, 0.30) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.13) 0px 2px 9px -1px inset, rgba(255, 255, 255, 0.09) 0px 0px 0px 1px, rgba(255, 255, 255, 0.12) 0px 1px 0px 0px;
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease;
  -o-transition: background-color 300ms ease, box-shadow 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  color: white;
  font-size: 16px;
}
.field:hover {
  background-color: rgba(47, 41, 43, 0.76);
}
.field:focus {
  box-shadow: rgba(0, 0, 0, 0.29) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.09) 0px 2px 9px -1px inset, #c96c47 0px 0px 0px 2px, #c96c47 0px 0px 12px 1px;
}
.sign-up-form {
  margin-top: 147px;
}
.social-widget {
  width: 100px;
  float: left;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-widget:hover {
  opacity: 1;
}
.success-message {
  padding: 29px;
  border-radius: 4px;
  background-color: #c96c47;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 1px 4px 0px, rgba(0, 0, 0, 0.09) 0px 0px 0px 1px, rgba(255, 255, 255, 0.09) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.09) 0px 1px 0px 0px inset;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.56) 0px 1px 0px;
}
.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}
.header-section {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 237px;
  background-image: url('../images/background.jpg');
  background-size: cover;
  color: white;
  text-align: left;
}
.header-section.otherheader {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-section {
  padding-top: 38px;
  padding-bottom: 34px;
  padding-left: 34px;
  background-color: #2f292b;
  box-shadow: rgba(255, 255, 255, 0.07) 0px -1px 0px 0px, rgba(0, 0, 0, 0.23) 0px 1px 1px 0px inset;
  color: #7e7c87;
}
.copyright {
  color: rgba(255, 255, 255, 0.29);
}
.container {
  padding-right: 20px;
  padding-left: 34px;
}
.container.othercontainer {
  height: 500px;
  padding-left: 0px;
}
.share-button {
  display: inline-block;
  width: 58px;
  margin-right: 14px;
  margin-left: 14px;
}
.share-button.facebook {
  width: 49px;
}
.share-button.google {
  width: 54px;
}
.success-text {
  margin-bottom: 10px;
  text-shadow: none;
}
.button.menubutton {
  
  height: auto;
   margin-left: auto;
    margin-right: auto;
    width: 100%;
  background-color: #00ffffff;
  
}
.referal-text {
  margin-top: 16px;
  margin-bottom: 13px;
  color: rgba(255, 255, 255, 0.61);
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: none;
}
.social-btn {
  margin-right: 7px;
  margin-left: 7px;
  opacity: 0.31;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
.social-btn:hover {
  opacity: 1;
}
.align-right {
  text-align: right;
}
.slider-nav {
  height: 40px;
  font-size: 9px;
}
.containerbutton {
  margin-left: 150px;
}
.containerbutton.menucontainer {
  width: 700px;
  max-width: 700px;
  margin-top: 0px;
  margin-left: auto;
  padding-top: 0px;
}
.h3 {
  margin-top: 50px;
  font-size: 18px;
}
.otherh1 {
  position: static;
  float: left;
}
.newcontainer {
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 70px;
}
@media (max-width: 991px) {
  .container {
    padding-right: 79px;
    padding-left: 79px;
  }
}
@media (max-width: 767px) {
  .button {
    margin-left: 150px;
  }
  .button.buttonround.redbutton {
    width: 20px;
    height: 50px;
  }
  .button.buttonround.tealbutton {
    width: 17%;
    height: 80px;
  }
  .button.buttonround.bluebutton {
    width: 17%;
    height: 80px;
  }
  .button.buttonround.pureredbutton {
    width: 17%;
    height: 80px;
  }
  .sign-up-form {
  margin-top: 100px;
    margin-bottom: 0px;
  }
  .header-section {
    padding-top: 55px;
    padding-bottom: 75px;
  }
  .footer-section {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .container {
    padding-right: 11px;
    padding-left: 11px;
  }
  .container.othercontainer {
    padding-left: 0px;
  }
  .containerbutton.menucontainer {
    width: 500px;
    margin-left: 0px;
  }
  .otherh1 {
    margin-left: 20px;
  }
}
@media (max-width: 479px) {
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .button.buttonround.redbutton {
    width: 40%;
    height: 90px;
  }
  .button.buttonround.tealbutton {
    width: 40%;
    height: 90px;
  }
  .button.buttonround.bluebutton {
    width: 40%;
    height: 90px;
    margin-top: 20px;
  }
  .button.buttonround.pureredbutton {
    width: 40%;
    height: 90px;
    margin-top: 20px;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .social-widget {
    width: 96px;
  }
  .copyright {
    margin-bottom: 7px;
    text-align: center;
  }
  .align-right {
    text-align: center;
  }
  .containerbutton.menucontainer {
    position: static;
    width: auto;
    clear: none;
  }
}
