body {
  background-color: #2f292b;
  font-family:'Varela Round', sans-serif;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px 16px;
  font-family: Lato, sans-serif;
  font-size: 68px;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: rgba(0, 0, 0, 0.72) 0px 1px 0px, rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-shadow: none;
}
h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0px;
  text-shadow: none;
}
.button {
  display: block;
  width: 32%;
  height: 54px;
  margin-left: auto;
  margin-right:auto;
  padding: 4px 29px;
  border:0px;
  margin-top:10px;
  border-radius: 4px;
  background-color: #c96c47;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 1px 4px 0px, rgba(0, 0, 0, 0.09) 0px 0px 0px 1px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.14) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.09) 0px -44px 38px -25px inset;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.18) 0px 1px 0px;
}
.button:hover {
  background-color: #e66f40;
}
.button:active {
  background-color: rgba(230, 111, 64, 0.63);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px, rgba(0, 0, 0, 0.09) 0px 0px 0px 1px, rgba(0, 0, 0, 0.09) 0px 2px 6px 1px inset, rgba(0, 0, 0, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.09) 0px 44px 38px -25px inset;
}

.subtitle {
  font-size: 25px;
  line-height: 34px;
  text-shadow: rgba(0, 0, 0, 0.22) 1px 1px 2px, rgba(0, 0, 0, 0.23) 0px 1px 0px;
}
.field {
  width: 30%;
  height: 54px;
  margin-right: 3%;

  padding-left:10px;
  border: 0px solid black;
  border-radius: 4px;
  background-color: rgba(47, 41, 43, 0.65);
  box-shadow: rgba(0, 0, 0, 0.29) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.12) 0px 2px 9px -1px inset, rgba(255, 255, 255, 0.09) 0px 0px 0px 1px, rgba(255, 255, 255, 0.11) 0px 1px 0px 0px;
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease;
  -o-transition: background-color 300ms ease, box-shadow 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  color: white;
  font-size: 16px;
}
.field:hover {
  background-color: rgba(47, 41, 43, 0.76);
}
.field:focus {
  box-shadow: rgba(0, 0, 0, 0.29) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.09) 0px 2px 9px -1px inset, #c96c47 0px 0px 0px 2px, #c96c47 0px 0px 12px 1px;
}
.sign-up-form {
  margin-top: 47px;
  

}
.social-widget {
  width: 100px;
  float: left;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-widget:hover {
  opacity: 1;
}
.success-message {
  padding: 29px;
  border-radius: 4px;
  background-color: #c96c47;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 1px 4px 0px, rgba(0, 0, 0, 0.09) 0px 0px 0px 1px, rgba(255, 255, 255, 0.09) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.09) 0px 1px 0px 0px inset;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.56) 0px 1px 0px;
}
.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}
.header-section {
  height: 100%;
  padding-top: 153px;
  padding-bottom: 237px;
  background-image: url('../images/background.jpg');
  background-size: cover;
  color: white;
  text-align: center;
}
.header-section.otherheader {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('../images/background.jpg');
}
.footer-section {
  padding-top: 38px;
  padding-bottom: 34px;
  background-color: #2f292b;
  box-shadow: rgba(255, 255, 255, 0.06) 0px -1px 0px 0px, rgba(0, 0, 0, 0.22) 0px 1px 1px 0px inset;
  color: #7e7c87;
}
.copyright {
  color: rgba(255, 255, 255, 0.29);
}
.container {
 margin-left:auto;
 margin-right:auto;
 width:70%;
}
.container.othercontainer {
  height: 500px;
  padding-left: 0px;
}
.share-button {
  display: inline-block;
  width: 58px;
  margin-right: 14px;
  margin-left: 14px;
}
.share-button.facebook {
  width: 49px;
}
.share-button.google {
  width: 54px;
}
.success-text {
  margin-bottom: 10px;
  text-shadow: none;
}
.referal-text {
  margin-top: 16px;
  margin-bottom: 13px;
  color: rgba(255, 255, 255, 0.61);
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: none;
}
.social-btn {
  margin-right: 7px;
  margin-left: 7px;
  opacity: 0.31;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
.social-btn:hover {
  opacity: 1;
}
.align-right {
  text-align: right;
}
.slider-nav {
  height: 40px;
  font-size: 9px;
}
.containerbutton {
  margin-left: 150px;
}
.containerbutton.menucontainer {
  max-width: 700px;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
}
.h3 {
  margin-top: 50px;
  font-size: 18px;
}
.otherh1 {
  position: static;
  float: left;
}
.newcontainer {
  width: 900px;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 70px;
}
@media (max-width: 991px) {
  .container {
    padding-right: 79px;
    padding-left: 79px;
  }
}
@media (max-width: 767px) {
  .button {
    margin-left: 150px;
  }
  .button.buttonround.redbutton {
    width: 17%;
    height: 80px;
    
  }
  .button.buttonround.tealbutton {
    width: 17%;
    height: 80px;
    padding-left:10px;
  }
  .button.buttonround.bluebutton {
    width: 17%;
    height: 80px;
    padding-left:10px;
  }
  .button.buttonround.pureredbutton {
    width: 17%;
    height: 80px;
    padding-left:10px;
  }
  .sign-up-form {
    margin-bottom: 0px;
  }
  .header-section {
    padding-top: 55px;
    padding-bottom: 75px;
  }
  .footer-section {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .container {
    padding-right: 11px;
    padding-left: 11px;
  }
  .container.othercontainer {
    padding-left: 0px;
  }
  .containerbutton.menucontainer {
    width: 500px;
    margin-left: 0px;
  }
  .otherh1 {
    margin-left: 20px;
  }
}
@media (max-width: 479px) {
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .button.buttonround.redbutton {
    width: 40%;
    height: 90px;
  }
  .button.buttonround.tealbutton {
    width: 40%;
    height: 90px;
  }
  .button.buttonround.bluebutton {
    width: 40%;
    height: 90px;
    margin-top: 20px;
  }
  .button.buttonround.pureredbutton {
    width: 40%;
    height: 90px;
    margin-top: 20px;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .social-widget {
    width: 96px;
  }
  .copyright {
    margin-bottom: 7px;
    text-align: center;
  }
  .align-right {
    text-align: center;
  }
  .containerbutton.menucontainer {
    position: static;
    width: auto;
    clear: none;
  }
}
